= form_for @report, url: reports_path, method: :get do |f|
  %p
    = f.label :start_date
    = f.date_select :start_date
  %p
    = f.label :end_date
    = f.date_select :end_date
  %p
    = f.submit 'Submit'

%table
  %thead
    %tr
      %th
        Activity (hh:mm:ss)
      - @report.period.each do |date|
        %th
          = date.strftime('%a')
      %th
        Total
  %tbody
    - @report.each_with_times do |activity, times|
      %tr
        %td
          = activity.description
        - times.each do |time|
          %td
            = time.to_hh_mm_ss
        %td
          = times.reduce(:+).to_hh_mm_ss
  %tfoot
    %tr
      %td
      - @report.period.each do |date|
        %td
      %td
        = @report.total_spent_time.to_hh_mm_ss
